/*esto es para instalar fuentes*/

@font-face {
    font-family: Ubuntu;
    src: url("fonts/Ubuntu-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url("fonts/Ubuntu-Light.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Ubuntu;
    src: url("fonts/Ubuntu-Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Ubuntu;
    src: url("fonts/Ubuntu-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url(fonts/CormorantGaramond-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url(fonts/CormorantGaramond-Medium.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url(fonts/CormorantGaramond-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Staatliches;
    src: url(./fonts/Staatliches-Regular.ttf);
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
}

.main {
    background-image: url(./adventure-gdf8f4a4b7_1920.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    font-family: Staatliches, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 2rem 10px 2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    overflow: hidden;
    font-size: 1.5rem;
}

button {
    background: transparent;
    border: none;
}

.game-button {
    margin-top: 1em;
    margin-right: 5px;
    margin-left: 20px;
    background: rgba(127, 255, 0, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(127, 255, 0, 0.3);
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Cormorant Garamond', Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.game-text {
    text-align: center;
    margin-bottom: 50px;
    margin-top: -50px;
}